body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Footer{
  display: flex;
  width: 100%;
  background: #005284;
  padding: 5%;
  font-weight: bold;
  line-height: 180%;
}
.Footer div:nth-child(1){
  flex-grow: 1; 
  text-align: center;
}
.Footer div:nth-child(2){
  flex-grow: 5;
  color: white;
}
.Footersocial{
  color: white;
}